body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper{
    padding-left: 120px;
    padding-right: 120px;
}

div{
    color: #101928;
}

h1{
    font-size: 48px;
    font-weight: 800;
    line-height: 58px;
}

/* part 1 */

#category{
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
}

.carousel{
    display: flex;
}

#salon{
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(4, minmax(0px, 1fr));
}

.category{
    width: calc(16.6666% + 0px);
    display: inline-flex;
    padding: 24px 12px;
}

.category .frame{
    flex-direction: column;
    border-radius: 8px;
    box-shadow: rgba(16, 25, 40, 0.08) 0px 4px 8px 0px;
    cursor: pointer;
}

.salon{
    border-radius: 4px;
}

.salon .frame{
    box-sizing: border-box;
    cursor: pointer;
}

.frame img{
    width: 100%;
}

.salon .frame img{

    border-radius: 4px;
}

.title{
    font-weight: 700;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.category .title{
    height: 56px;
    font-size: 15px;
    padding: 8px 16px;
}

.salon .title{
    font-size: 17px;
    line-height: 24px;
}

.address{
    color: rgb(135, 140, 147);
    font-weight: 400;
}

.rating-data{
    display: flex;
}

.star{
    height: 16px;
    width: 16px;
    background-image: url("https://cdn-static.fresha.com/assets/54b46368713ea0e3a1a02a33c9552259.svg");
}

.rating{
    margin-left: 8px;
    margin-right: 8px;
    font-size: 15px;
    font-weight: 700;
}


/* part 2 */

#opinion{
    display: flex;
    margin-bottom: 120px;
}

.opinion{
    display: inline-flex;
    width: calc(25% - 18px);
    margin-left: 24px;
}

.opinion .frame{
    background-color: #F2F2F7;
    border-radius: 16px;
    font-size: 15px;
    font-weight: 400;
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
}

.opinion .frame img{
    width: 24px;
    height: 24px;
    border-radius: 12px;
}

.star-bar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.stars{
    display: flex;
}

.green-star{
    margin-right: 2px;
}

.date{
    float: right;
    color: rgb(135, 140, 147);
}

.msg-title{
    line-height: 22px;
    font-weight: 700;
    margin-bottom: 4px;
}

.msg{
    line-height: 22px;
    min-height: 66px;
    margin-bottom: 16px;
}

.profile{
    line-height: 21px;
    display: flex;
    margin-top: auto;
}

.arrow{
    width: 24px;
    height: 24px;
}

/* part 3 */

#career{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: #F2F2F7;;
}

p{
    margin-bottom: 34px;
}

.right-column{
    width: 50%;
    margin-right: -62px;
}

.right-column img{
    width: 100%;
}

.left-column{
    padding-left: 120px;
    padding-right: 120px;
    width: 50%;
    display: block;
}

.career{

}

.career .frame{
    padding: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    box-shadow: rgba(16, 25, 40, 0.08) 0px 4px 8px 0px;
    background-color: #ffffff;
    margin-bottom: 16px;
    cursor: pointer;
}

.location{
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
    margin-bottom: 8px;
}

.offers{
    line-height: 24px;
    font-size: 17px;
    color: rgb(3, 122, 255);
    display: block;
}

.button{
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: rgba(16, 25, 40, 0.08) 0px 4px 8px 0px;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    padding: 11px 15px;
    display: inline-flex;
    min-width: 0px;
}